################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpTraining/.vs/
/CSharpTraining/CSharpTraining/bin/Debug/net6.0
/CSharpTraining/CSharpTraining/obj/Debug/net6.0/ref
/CSharpTraining/CSharpTraining/obj/Debug/net6.0/refint
/CSharpTraining/.vs/CSharpTraining/config/applicationhost.config
/CSharpTraining/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1
/CSharpTraining/WebApplicationDemo
/CSharpTraining/CSharpTraining/bin
/CSharpTraining/CSharpTraining/obj
/CSharpTraining/CSharpTraining/.sonarqube
/CSharpTraining/CSharpTraining/obj/Debug/net6.0/apphost.exe
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
/CSharpTraining/[Bb]in/
/CSharpTraining/[Oo]bj/
/CSharpTraining/[Oo]bj/[Dd]ebug/net6.0/
[Ll]og/

# VS Code directories
/CSharpTraining/.vscode/
/CSharpTraining/.history/
/CSharpTraining/.vs/

/packages