################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpTraining/.vs/CSharpTraining/v17
/CSharpTraining/.vs/CSharpTraining/FileContentIndex
/CSharpTraining/.vs/CSharpTraining/DesignTimeBuild
/CSharpTraining/.vs/ProjectEvaluation
/CSharpTraining/CSharpTraining/bin/Debug/net6.0
/CSharpTraining/CSharpTraining/obj/Debug/net6.0/ref
/CSharpTraining/CSharpTraining/obj/Debug/net6.0/refint
