################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpTraining/.vs/CSharpTraining/v17
/CSharpTraining/.vs/CSharpTraining/FileContentIndex
/CSharpTraining/.vs/CSharpTraining/DesignTimeBuild
